### For EBB36 MCU firmware update:###
#	cd ~/klipper
#	make menuconfig					#STM32....STM32G0B1....Can Bus (on PB0/PB1) ....8KiB offset....(1000000) Can bus speed ... Support bootloader double click of reset button...
                                    #Enable Status LED.....(PA13) Status LED GPIO Pin
#	make clean
#	make
#	sudo service klipper stop

#   python3 ~/katapult/scripts/flashtool.py -i can0 -f ~/klipper/out/klipper.bin -u e82ffc665ce2    #This "e82ffc665ce2" is the toolhead uuid

#####################################################################
#Extruder 0 slot on EBB32 board
#####################################################################
# MCU E __can0__#
[mcu can0]
	#You will need to set this definition manually following the instructions in the line below
# run the following command to locate the uuid >   ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0
canbus_uuid: 5e80133394be ###e82ffc665ce2 

[extruder]

step_pin: can0: PD0
dir_pin: !can0: PD1
enable_pin: !can0: PD2
# Tune per individual printer
rotation_distance: 21.64592
gear_ratio: 50:8 #for sherpa mini 8t motor
microsteps: 16
full_steps_per_rotation: 200 #1.8 deg motor

# connected to EBB32 - HE0 Heater
heater_pin: can0: PB13
max_power: 1.0

# connected to EBB32 - TH0
#sensor_type: EPCOS 100K B57560G104F 
#sensor_type: Generic 3950
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: can0: PA3

min_temp: 10
max_temp: 300
min_extrude_temp: 10
control = pid
pid_kp = 18.041
pid_ki = 0.691
pid_kd = 117.717

nozzle_diameter: 0.600
filament_diameter: 1.75
pressure_advance: 0.0450 #FilX ASA
#pressure_advance: 0.0550 #Esun ABS+
#pressure_advance: 0.0391 #Esun pla+
#pressure_advance: 0.0295  #MadHonet pla ST
pressure_advance_smooth_time: 0.040
max_extrude_only_distance: 200.0
max_extrude_cross_section: 5      #Remove if causing trouble!!! Only using for Adaptive_Purge
max_extrude_only_velocity: 20
max_extrude_only_accel: 1500

[tmc2209 extruder]
# conected to EBB32 - E0 Stepper
uart_pin: can0: PA15
interpolate: True

#Run current is listed in RMS
run_current: 0.32 #0.30 #min current, equivalent to 0.42A peak (Peak = RMS/0.707)
#run_current: 0.35 #max current, equivalent to 0.49A peak (Peak = RMS/0.707)
hold_current: 0.32
sense_resistor: 0.110
stealthchop_threshold: 500

#####################################################################
#   Fan Control
#####################################################################

[fan_generic part_fan_t0]
##  Print Cooling Fan
pin: can0: PA0
kick_start_time: 0.5
off_below: 0.10

[heater_fan extruder0_fan]
##  Hotend fan
pin: can0: PA1
heater: extruder
heater_temp: 50.0

#####################################################################
#   Toolhead 0 LEDs
#####################################################################

#[neopixel th_leds_t0]
#pin: can0: PD3
#   The pin connected to the neopixel. This parameter must be provided.
#chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
#color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
#initial_RED: 1.0
#initial_GREEN: 0.0
#initial_BLUE: 1.0
#initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#

[probe]
#pin: toolhead_0:PB5
pin: can0:PB5
#   Probe detection pin. If the pin is on a different microcontroller
#   than the Z steppers then it enables "multi-mcu homing". This
#   parameter must be provided.
#deactivate_on_each_sample: True
#   This determines if Klipper should execute deactivation gcode
#   between each probe attempt when performing a multiple probe
#   sequence. The default is True.
#x_offset: 0.0
#   The distance (in mm) between the probe and the nozzle along the
#   x-axis. The default is 0.
#y_offset: 0.0
#   The distance (in mm) between the probe and the nozzle along the
#   y-axis. The default is 0.
z_offset: -0.4
#   The distance (in mm) between the bed and the nozzle when the probe
#   triggers. This parameter must be provided.
speed: 5.0
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
samples: 1
#   The number of times to probe each point. The probed z-values will
#   be averaged. The default is to probe 1 time.
sample_retract_dist: 2.0
#   The distance (in mm) to lift the toolhead between each sample (if
#   sampling more than once). The default is 2mm.
lift_speed: 8
#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples. The default is to use the same value as the 'speed'
#   parameter.
#samples_result: average
#   The calculation method when sampling more than once - either
#   "median" or "average". The default is average.
samples_tolerance: 0.100
#   The maximum Z distance (in mm) that a sample may differ from other
#   samples. If this tolerance is exceeded then either an error is
#   reported or the attempt is restarted (see
#   samples_tolerance_retries). The default is 0.100mm.
#samples_tolerance_retries: 0
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. On a retry, all current samples are discarded
#   and the probe attempt is restarted. If a valid set of samples are
#   not obtained in the given number of retries then an error is
#   reported. The default is zero which causes an error to be reported
#   on the first sample that exceeds samples_tolerance.

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[homing_override]
gcode:
#axes: z
set_position_z: 0
gcode:
   STATUS_HOMING
   SET_LED LED=Case_Neo RED=1.0 GREEN=0.00 BLUE=0.00 TRANSMIT=1  
   G1 Z10 F400 #F600
   _HOME_Y
   _HOME_X
   G1 X155 Y155 F18000
   _HOME_Z
   STATUS_READY