[gcode_macro Preprint_Start]
gcode:
  {% set CURR_BED_TYPE = params.CURR_BED_TYPE|lower|replace(" ", "_") %}  #|lower|replace(" ", "_") is there because otherwise Klipper wont understand the string
  {% set BED = params.BED|default(60)|float %}
  
  # --- Bed-Specific Gcode ---#
  {% if CURR_BED_TYPE == 'textured_pei_plate' %}
    {% set Heated_Bed = params.Heated_Bed|default(60)|float %}
    M117 HEATING BED...
    STATUS_HEATING
 	M140 S{BED+15}
    M117 Waiting on Heat Soak
 	TEMPERATURE_WAIT SENSOR="temperature_sensor 1_Heated_Bed" MINIMUM={BED-2}
# 	M140 S{CHAMBER}
 	
  {% elif CURR_BED_TYPE == 'textured_cool_plate' %}
    {% set Heated_Bed = params.Heated_Bed|default(40)|float %}
    M117 HEATING BED...
    STATUS_HEATING
 	M190 S{BED}
    M117 Waiting on Heat Soak
 	TEMPERATURE_WAIT SENSOR="temperature_sensor 1_Heated_Bed" MINIMUM={BED-3}
# 	M140 S{CHAMBER}

  {% elif CURR_BED_TYPE == 'engineering_plate' %}
    {% set Heated_Bed = params.Heated_Bed|default(30)|float %}
    M117 HEATING BED...
    STATUS_HEATING
 	M140 S{BED+10}
    M117 Waiting on Heat Soak
 	TEMPERATURE_WAIT SENSOR="temperature_sensor 1_Heated_Bed" MINIMUM={BED-5}
# 	M140 S{CHAMBER}
  
  {% else %}
  	{% set Heated_Bed = params.Heated_Bed|default(25)|int %}
    M117 HEATING BED...
    STATUS_HEATING
 	M140 S{BED+5}
    M117 Waiting on Heat Soak
 	TEMPERATURE_WAIT SENSOR="temperature_sensor 1_Heated_Bed" MINIMUM={BED-5}
# 	M140 S{CHAMBER}

  {% endif %}
  # --- End Bed-Specific Gcode ---#
  
    #M117 Waiting on Heat Soak
    #M190 S{BED}
    # M117 CLEANING NOZZLE...
    # PRECLEAN_NOZZLE
    # M117 LEVELING BED...
    # #STATUS_LEVELING
    # _BED_LEVEL 
    # STATUS_BUSY


[gcode_macro PRECLEAN_NOZZLE]
gcode:
    {% set EXTRUDER = params.EXTRUDER|default(190)|float %}
    G28
    Go_To_Purge_Location
    STATUS_HEATING
    M117 PRE-HEATING HEAD...
    M109 S{EXTRUDER +10}
    STATUS_OFF
    STATUS_CLEANING
    Brush_Nozzle
    M106 S250    # # set fan speed for rapid cooling
    STATUS_READY
    Go_To_Wait_Location
    STATUS_HEATING
    M109 S{EXTRUDER -80}    
	M106 S0  				#shut off part cooling fans

[gcode_macro _BED_LEVEL]
gcode:
    STATUS_LEVELING
    BED_MESH_CLEAR
    G28
    STATUS_CALIBRATING_Z
    Z_TILT_ADJUST
    G28
    STATUS_MESHING
    BED_MESH_CALIBRATE ADAPTIVE=1
    
[gcode_macro Print_Start]
gcode:
    {% set EXTRUDER = params.EXTRUDER|default(190)|float %}
    # Go_To_Purge_Location
    # STATUS_HEATING
    # M117 PRE-HEATING HEAD...
    # M109 S{EXTRUDER -40}
    # STATUS_OFF
    # STATUS_CLEANING
    # Brush_Nozzle
    M117 LEVELING BED...
    STATUS_BUSY
    _BED_LEVEL 
    STATUS_READY
    Go_To_Wait_Location
    STATUS_HEATING
    M109 S{EXTRUDER}
    LEDs_ON
    NEOPIXEL_DISPLAY LED="Case_Neo" TYPE=print_percent MODE=progress
    G91
    G1 E-1
    G1 Z2
    G1 X-150 F18000
    G90
    G1 Z5
    TRI_PURGE
    Smart_Park
    #G1 Z2
    M117 PRINTING...
    STATUS_PRINTING

   
[gcode_macro print_end]
gcode:
	G91  					#relative positioning
	G0 E-0.5 F4800  		#retract 0.5mm of filament
	G0 Z+1.00 X-2 Y-2 F6000 #short quick move to disengage from print
	G0 Z+5.00  F6000  		#move Z-Axis 5mm away from part

	G90  					#absolute positioning
	G0 X20 Y20 				#move gantry close to xy min, by nozzle switch in front
	G91  					#relative positioning
	G0 E20 F400				#extrude filament to get better blob on end
	G0 E-5 F1800  		#retract additional filament to move out of melt zone
	G90 					#absolute positioning
    
	M104 S0  				#turn off hotend
	M140 S0  				#turn off heatbed
    BED_MESH_PROFILE REMOVE=default
    NEOPIXEL_DISPLAY LED="Case_Neo" TYPE=clear

		#z bed placement control for end of print
    SAVE_GCODE_STATE NAME=END_state
    {% if printer.toolhead.position.z|float == printer.configfile.config["stepper_z"]["position_max"]|float %} #if z position = z max do the following
        # do nothing
    {% elif printer.toolhead.position.z|float >= 130|float %}    #if z position >= 130mnm do the following
        G91              #relative positioning
        G1 Z+10 F600     #move z down 10mm
        G90              #absolute positioning
    {% else %}  		 #if you dont meet any of the criteria
        G90              #absolute positioning
        G1 Z130 F600     #move z to 130mm
    {% endif %}
    RESTORE_GCODE_STATE NAME=END_state

	M106 S0  				#shut off part cooling fans
	M84						#turn off motors
	clear_pause				#clear pause state encase it was enabled
    M117 PRINT DONE!
    STATUS_OFF

